@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Amiri', sans-serif;
}

.font-quran {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;
}



*::-webkit-scrollbar {
  display: none;
}


.dark {
  color-scheme: dark;
}